
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .logo-container {
        width: 20rem;
        height: 20rem;
        margin-top: 0.5rem;
    }

        .logo-container img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

    .img-responsive {
        height: 50rem;
        width: 100%;
        object-fit: cover;
    }
</style>

<div class="about-image">
    <img class="img-responsive" src="~/Content/victoriaforest.jpg" alt="Victoria Forest" />
</div>


<div class="logo-container">
    <img src="~/Content/StaycationLogo.png" alt="Staycation logo" />
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">About Us</h1>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="strong">Who we are and<br>what we do</h1>
                <p class="lead">Stay, but not stay home.</p>
            </div>
            <div class="col-md-6">
                <p>Browse over amazing tourism attractions and locations in our state. Find places not too far from where you are, and meet what best Victoira can offer to you.</p>
                <p>Decide on where to go this holiday? Make a booking and pack your back.</p>
                <p>Reschedule, need to cancel, or simply changed your mind on where to go? You can easily manage your trips here.</p>

                <p style="font-size: 1.2rem; margin-top: 10rem"><strong>Disclaimer:</strong> this is a mock up website for study purposes. All images, logos, names displayed on this site are of their respective holders. Use of them does not imply any affiliation with or endorsement by them. All specifications are subject to change without notice.</p>
            </div>
        </div>
    </div>
</div>