
@{
    ViewBag.Title = "Duplicate Trip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Duplicate Trip</h2>

<div class="panel panel-danger">
    <div class="panel-heading">You are rescheduling a duplicate trip</div>
    <div class="panel-body">
        <p>Sorry, you already have this trip on this date in your account</p>
        <p>Please choose another date to continue</p>
    </div>
</div>

@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })