
@{
    ViewBag.Title = "Restricted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restricted</h2>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Access Denied</h3>
    </div>
    <div class="panel-body">
        <p>Sorry, you do not have the access to this page.</p>
        <p>Please contact the admin if you believe this is a wrong message.</p>
    </div>
</div>